you will create a file .env with all params below

DEBUG=TRUE

TEST_SIZE=0.2
RANDOM_STATE=42

#CONFIG
PROJECT_NAME = ''
PROJECT_VERSION = ''
PATH_DATA=data/
PATH_DATA_PREPROCESSED= = ''
PATH_MODEL= ''
PATH_GRAPHS= ''
PATH_LOGS= ''

#JWT
SECRET = ''

ALGORITHM = ''
ACCESS_TOKEN_EXPIRE_MINUTES = 0
TIMEZONE = ''

#DATABASE TIP
DATABASE_USER = ''
DATABASE_PASS = ''
DATABASE_SERVER = ''
DATABASE_PORT = ''
DATABASE_NAME = ''